### 01. 환율 정보

In [1]:
import pandas as pd 
Dataset = pd.read_csv('../data/DAILY_DATA.csv')
Dataset = Dataset.set_index('date')
Dataset  = Dataset['2018-01-02':'2019-12-31']

# BND 제거
del Dataset['BND']

### 2. 비트코인

In [2]:
# 경고 메세지 안뜨게 하기
import warnings
warnings.filterwarnings(action='ignore') 

# 데이터 불러오기
import pandas as pd
bitcoin = pd.read_csv('../data/Bitcoin.csv')

# 날짜 형식 변경하기
date = bitcoin['날짜'].apply(lambda x : x.replace('년 ','-'))\
                     .apply(lambda x : x.replace('월 ','-'))\
                     .apply(lambda x : x.replace('일',''))
bitcoin['날짜'] = date

# 칼럼명 변경하기
bitcoin.columns = ['date', 'BITCOIN', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
bitcoin = bitcoin.set_index('date')

# 비트코인 값 양식 바꾸기
value = bitcoin['BITCOIN'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
bitcoin = pd.DataFrame(value)

# 2018년 2월 데이터부터 추출하고, 기존 데이터와 merge
Dataset = pd.concat([Dataset, bitcoin], axis=1)
Dataset = Dataset.dropna()

### 3. 테더

In [3]:
# 데이터 불러오기
import pandas as pd
tether = pd.read_csv('../data/tether.csv')

# 날짜에 필요없는 부분 제거
date = tether['snapped_at'].apply(lambda x : x.replace(' 00:00:00 UTC',''))
tether['date'] = date

# 날짜를 인덱스로 바꾸기
tether = tether.set_index('date')

# 칼럼명 지정하기
tether.columns = ['time', 'TETHER', 'market_cap', 'total_volume']

# 테더만 빼오기
tether = tether['TETHER']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, tether], axis=1)
Dataset = Dataset.dropna()

### KOSPI 200

In [4]:
# 데이터 불러오기
import pandas as pd
kospi200 = pd.read_csv('../data/KOSPI200.csv')

# 날짜 형식 변경하기
date = kospi200['날짜'].apply(lambda x : x.replace('년 ','-'))\
                     .apply(lambda x : x.replace('월 ','-'))\
                     .apply(lambda x : x.replace('일',''))
kospi200['날짜'] = date

# 칼럼명 변경하기
kospi200.columns = ['date', 'KOSPI200', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
kospi200 = kospi200.set_index('date')

# 종가만 빼오기
kospi200 = kospi200['KOSPI200']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, kospi200], axis=1)
Dataset = Dataset.dropna()

### KOSDAQ

In [5]:
# 데이터 불러오기
import pandas as pd
kosdaq = pd.read_csv('../data/KOSDAQ.csv')

# 날짜 형식 변경하기
date = kosdaq['날짜'].apply(lambda x : x.replace('년 ','-'))\
                     .apply(lambda x : x.replace('월 ','-'))\
                     .apply(lambda x : x.replace('일',''))
kosdaq['날짜'] = date

# 칼럼명 변경하기
kosdaq.columns = ['date', 'KOSDAQ', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
kosdaq = kosdaq.set_index('date')

# 종가만 빼오기
kosdaq = kosdaq['KOSDAQ']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, kosdaq], axis=1)
Dataset = Dataset.dropna()

### SAMSUNG

In [6]:
# 데이터 불러오기
import pandas as pd
samsung = pd.read_csv('../data/SAMSUNG.csv')

# 날짜 형식 변경하기
date = samsung['날짜'].apply(lambda x : x.replace('년 ','-'))\
                     .apply(lambda x : x.replace('월 ','-'))\
                     .apply(lambda x : x.replace('일',''))
samsung['날짜'] = date

# 칼럼명 변경하기
samsung.columns = ['date', 'SAMSUNG', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
samsung = samsung.set_index('date')

# 값 양식 바꾸기
value = samsung['SAMSUNG'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
samsung = pd.DataFrame(value)

# 종가만 빼오기
samsung = samsung['SAMSUNG']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, samsung], axis=1)
Dataset = Dataset.dropna()

### S&P 500

In [7]:
# 데이터 불러오기
import pandas as pd
sp500 = pd.read_csv('../data/S&P500.csv')

# 날짜 형식 변경하기
date = sp500['날짜'].apply(lambda x : x.replace('년 ','-'))\
                     .apply(lambda x : x.replace('월 ','-'))\
                     .apply(lambda x : x.replace('일',''))
sp500['날짜'] = date

# 칼럼명 변경하기
sp500.columns = ['date', 'S&P500', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
sp500 = sp500.set_index('date')

# 값 양식 바꾸기
value = sp500['S&P500'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
sp500 = pd.DataFrame(value)

# 종가만 빼오기
sp500 = sp500['S&P500']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, sp500], axis=1)
Dataset = Dataset.dropna()

### DOWS JONES

In [8]:
# 데이터 불러오기
import pandas as pd
dowjones = pd.read_csv('../data/DOWSJONES.csv')

# 날짜 형식 변경하기
date = dowjones['날짜'].apply(lambda x : x.replace('년 ','-'))\
                      .apply(lambda x : x.replace('월 ','-'))\
                      .apply(lambda x : x.replace('일',''))
dowjones['날짜'] = date

# 칼럼명 변경하기
dowjones.columns = ['date', 'DOWJONES', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
dowjones = dowjones.set_index('date')

# 값 양식 바꾸기
value = dowjones['DOWJONES'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
dowjones = pd.DataFrame(value)

# 종가만 빼오기
dowjones = dowjones['DOWJONES']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, dowjones], axis=1)
Dataset = Dataset.dropna()

### NASDAQ

In [9]:
# 데이터 불러오기
import pandas as pd
nasdaq = pd.read_csv('../data/NASDAQ.csv')

# 날짜 형식 변경하기
date = nasdaq['날짜'].apply(lambda x : x.replace('년 ','-'))\
                      .apply(lambda x : x.replace('월 ','-'))\
                      .apply(lambda x : x.replace('일',''))
nasdaq['날짜'] = date

# 칼럼명 변경하기
nasdaq.columns = ['date', 'NASDAQ', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
nasdaq = nasdaq.set_index('date')

# 값 양식 바꾸기
value = nasdaq['NASDAQ'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
nasdaq = pd.DataFrame(value)

# 종가만 빼오기
nasdaq = nasdaq['NASDAQ']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, nasdaq], axis=1)
Dataset = Dataset.dropna()

### MICROSOFT

In [10]:
# 데이터 불러오기
import pandas as pd
microsoft = pd.read_csv('../data/MICROSOFT.csv')

# 날짜 형식 변경하기
date = microsoft['날짜'].apply(lambda x : x.replace('년 ','-'))\
                       .apply(lambda x : x.replace('월 ','-'))\
                       .apply(lambda x : x.replace('일',''))
microsoft['날짜'] = date

# 칼럼명 변경하기
microsoft.columns = ['date', 'MICROSOFT', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
microsoft = microsoft.set_index('date')

# 종가만 빼오기
microsoft = microsoft['MICROSOFT']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, microsoft], axis=1)
Dataset = Dataset.dropna()

### APPLE

In [11]:
# 데이터 불러오기
import pandas as pd
apple = pd.read_csv('../data/APPLE.csv')

# 날짜 형식 변경하기
date = apple['날짜'].apply(lambda x : x.replace('년 ','-'))\
                   .apply(lambda x : x.replace('월 ','-'))\
                   .apply(lambda x : x.replace('일',''))
apple['날짜'] = date

# 칼럼명 변경하기
apple.columns = ['date', 'APPLE', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
apple = apple.set_index('date')

# 종가만 빼오기
apple = apple['APPLE']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, apple], axis=1)
Dataset = Dataset.dropna()

### US LIBOR

In [12]:
# 데이터 불러오기
import pandas as pd
us_libor = pd.read_csv('../data/US_LIBOR.csv')

# 칼럼명 변경하기
us_libor.columns = ['date', 'US_LIBOR']

# 날짜 인덱스로 변경하기
us_libor = us_libor.set_index('date')

# 종가만 빼오기
us_libor = us_libor['US_LIBOR']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, us_libor], axis=1)
Dataset = Dataset.dropna()

### KOR LIBOR

In [13]:
# 데이터 불러오기
import pandas as pd
kor_libor = pd.read_csv('../data/KOR_LIBOR.csv')

# 칼럼명 변경하기
kor_libor.columns = ['date', '1weekday', '1month', '2month', 'KOR_LIBOR', '6month', '12month']

# 날짜 인덱스로 변경하기
kor_libor = kor_libor.set_index('date')

# 종가만 빼오기
kor_libor = kor_libor['KOR_LIBOR']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, kor_libor], axis=1)
Dataset = Dataset.dropna()

### 미국 1년 채권 수익률

In [14]:
# 데이터 불러오기
import pandas as pd
us_bond_rate_1years = pd.read_csv('../data/US_BOND_RATE_1YEARS.csv')

# 날짜 형식 변경하기
date = us_bond_rate_1years['날짜'].apply(lambda x : x.replace('년 ','-'))\
                                 .apply(lambda x : x.replace('월 ','-'))\
                                 .apply(lambda x : x.replace('일',''))
us_bond_rate_1years['날짜'] = date

# 칼럼명 변경하기
us_bond_rate_1years.columns = ['date', 'US_BOND_RATE_1YEARS', 'open', 'high', 'low', 'rate']

# 날짜 인덱스로 변경하기
us_bond_rate_1years = us_bond_rate_1years.set_index('date')

# 종가만 빼오기
us_bond_rate_1years = us_bond_rate_1years['US_BOND_RATE_1YEARS']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, us_bond_rate_1years], axis=1)
Dataset = Dataset.dropna()

### 미국 2년 채권 수익률

In [15]:
# 데이터 불러오기
import pandas as pd
us_bond_rate_2years = pd.read_csv('../data/US_BOND_RATE_2YEARS.csv')

# 날짜 형식 변경하기
date = us_bond_rate_2years['날짜'].apply(lambda x : x.replace('년 ','-'))\
                   .apply(lambda x : x.replace('월 ','-'))\
                   .apply(lambda x : x.replace('일',''))
us_bond_rate_2years['날짜'] = date

# 칼럼명 변경하기
us_bond_rate_2years.columns = ['date', 'US_BOND_RATE_2YEARS', 'open', 'high', 'low', 'rate']

# 날짜 인덱스로 변경하기
us_bond_rate_2years = us_bond_rate_2years.set_index('date')

# 종가만 빼오기
us_bond_rate_2years = us_bond_rate_2years['US_BOND_RATE_2YEARS']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, us_bond_rate_2years], axis=1)
Dataset = Dataset.dropna()

### 미국 10년 채권 수익률

In [16]:
# 데이터 불러오기
import pandas as pd
us_bond_rate_10years = pd.read_csv('../data/US_BOND_RATE_10YEARS.csv')

# 날짜 형식 변경하기
date = us_bond_rate_10years['날짜'].apply(lambda x : x.replace('년 ','-'))\
                                  .apply(lambda x : x.replace('월 ','-'))\
                                  .apply(lambda x : x.replace('일',''))
us_bond_rate_10years['날짜'] = date

# 칼럼명 변경하기
us_bond_rate_10years.columns = ['date', 'US_BOND_RATE_10YEARS', 'open', 'high', 'low', 'rate']

# 날짜 인덱스로 변경하기
us_bond_rate_10years = us_bond_rate_10years.set_index('date')

# 종가만 빼오기
us_bond_rate_10years = us_bond_rate_10years['US_BOND_RATE_10YEARS']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, us_bond_rate_10years], axis=1)
Dataset = Dataset.dropna()

### 현대 자동차

In [17]:
# 데이터 불러오기
import pandas as pd
hyundai_car = pd.read_csv('../data/HYUNDAI_CAR.csv')

# 날짜 형식 변경하기
date = hyundai_car['날짜'].apply(lambda x : x.replace('년 ','-'))\
                         .apply(lambda x : x.replace('월 ','-'))\
                         .apply(lambda x : x.replace('일',''))
hyundai_car['날짜'] = date

# 칼럼명 변경하기
hyundai_car.columns = ['date', 'HYUNDAI_CAR', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
hyundai_car = hyundai_car.set_index('date')

# 값 양식 바꾸기
value = hyundai_car['HYUNDAI_CAR'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
hyundai_car = pd.DataFrame(value)

# 종가만 빼오기
hyundai_car = hyundai_car['HYUNDAI_CAR']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, hyundai_car], axis=1)
Dataset = Dataset.dropna()

### IEF US

In [18]:
# 데이터 불러오기
import pandas as pd
ief_us = pd.read_csv('../data/IEF_US.csv')

# 날짜 형식 변경하기
date = ief_us['날짜'].apply(lambda x : x.replace('년 ','-'))\
                         .apply(lambda x : x.replace('월 ','-'))\
                         .apply(lambda x : x.replace('일',''))
ief_us['날짜'] = date

# 칼럼명 변경하기
ief_us.columns = ['date', 'IEF_US', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
ief_us = ief_us.set_index('date')

# 종가만 빼오기
ief_us = ief_us['IEF_US']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, ief_us], axis=1)
Dataset = Dataset.dropna()

### GLD_US

In [19]:
# 데이터 불러오기
import pandas as pd
gld_us = pd.read_csv('../data/GLD_US.csv')

# 날짜 형식 변경하기
date = gld_us['날짜'].apply(lambda x : x.replace('년 ','-'))\
                    .apply(lambda x : x.replace('월 ','-'))\
                    .apply(lambda x : x.replace('일',''))
gld_us['날짜'] = date

# 칼럼명 변경하기
gld_us.columns = ['date', 'GLD_US', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
gld_us = gld_us.set_index('date')

# 종가만 빼오기
gld_us = gld_us['GLD_US']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, gld_us], axis=1)
Dataset = Dataset.dropna()

### 홍콩 항셍

In [20]:
# 데이터 불러오기
import pandas as pd
hsi = pd.read_csv('../data/HSI.csv')

# 날짜 형식 변경하기
date = hsi['날짜'].apply(lambda x : x.replace('년 ','-'))\
                    .apply(lambda x : x.replace('월 ','-'))\
                    .apply(lambda x : x.replace('일',''))
hsi['날짜'] = date

# 칼럼명 변경하기
hsi.columns = ['date', 'HSI', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
hsi = hsi.set_index('date')

# 값 양식 바꾸기
value = hsi['HSI'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
hsi = pd.DataFrame(value)

# 종가만 빼오기
hsi = hsi['HSI']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, hsi], axis=1)
Dataset = Dataset.dropna()

### NAVER

In [21]:
# 데이터 불러오기
import pandas as pd
naver = pd.read_csv('../data/NAVER.csv')

# 날짜 형식 변경하기
date = naver['날짜'].apply(lambda x : x.replace('년 ','-'))\
                   .apply(lambda x : x.replace('월 ','-'))\
                   .apply(lambda x : x.replace('일',''))
naver['날짜'] = date

# 칼럼명 변경하기
naver.columns = ['date', 'NAVER', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
naver = naver.set_index('date')

# 값 양식 바꾸기
value = naver['NAVER'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
naver = pd.DataFrame(value)

# 종가만 빼오기
naver = naver['NAVER']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, naver], axis=1)
Dataset = Dataset.dropna()

### SK HYNIX

In [22]:
# 데이터 불러오기
import pandas as pd
sk_hynix = pd.read_csv('../data/SK_HYNIX.csv')

# 날짜 형식 변경하기
date = sk_hynix['날짜'].apply(lambda x : x.replace('년 ','-'))\
                      .apply(lambda x : x.replace('월 ','-'))\
                      .apply(lambda x : x.replace('일',''))
sk_hynix['날짜'] = date

# 칼럼명 변경하기
sk_hynix.columns = ['date', 'SK_HYNIX', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
sk_hynix = sk_hynix.set_index('date')

# 값 양식 바꾸기
value = sk_hynix['SK_HYNIX'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
sk_hynix = pd.DataFrame(value)

# 종가만 빼오기
sk_hynix = sk_hynix['SK_HYNIX']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, sk_hynix], axis=1)
Dataset = Dataset.dropna()

### AMAZON

In [23]:
# 데이터 불러오기
import pandas as pd
amazon = pd.read_csv('../data/AMAZON.csv')

# 날짜 형식 변경하기
date = amazon['날짜'].apply(lambda x : x.replace('년 ','-'))\
                      .apply(lambda x : x.replace('월 ','-'))\
                      .apply(lambda x : x.replace('일',''))
amazon['날짜'] = date

# 칼럼명 변경하기
amazon.columns = ['date', 'AMAZON', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
amazon = amazon.set_index('date')

# 값 양식 바꾸기
value = amazon['AMAZON'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
amazon = pd.DataFrame(value)

# 종가만 빼오기
amazon = amazon['AMAZON']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, amazon], axis=1)
Dataset = Dataset.dropna()

### TESLA

In [24]:
# 데이터 불러오기
import pandas as pd
tesla = pd.read_csv('../data/TESLA.csv')

# 날짜 형식 변경하기
date = tesla['날짜'].apply(lambda x : x.replace('년 ','-'))\
                      .apply(lambda x : x.replace('월 ','-'))\
                      .apply(lambda x : x.replace('일',''))
tesla['날짜'] = date

# 칼럼명 변경하기
tesla.columns = ['date', 'TESLA', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
tesla = tesla.set_index('date')

# 종가만 빼오기
tesla = tesla['TESLA']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, tesla], axis=1)
Dataset = Dataset.dropna()

### NIKKEI

In [25]:
# 데이터 불러오기
import pandas as pd
nikkei = pd.read_csv('../data/NIKKEI.csv')

# 날짜 형식 변경하기
date = nikkei['날짜'].apply(lambda x : x.replace('년 ','-'))\
                      .apply(lambda x : x.replace('월 ','-'))\
                      .apply(lambda x : x.replace('일',''))
nikkei['날짜'] = date

# 칼럼명 변경하기
nikkei.columns = ['date', 'NIKKEI', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
nikkei = nikkei.set_index('date')

# 값 양식 바꾸기
value = nikkei['NIKKEI'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
nikkei = pd.DataFrame(value)

# 종가만 빼오기
nikkei = nikkei['NIKKEI']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, nikkei], axis=1)
Dataset = Dataset.dropna()

### FTSE

In [26]:
# 데이터 불러오기
import pandas as pd
ftse = pd.read_csv('../data/FTSE.csv')

# 날짜 형식 변경하기
date = ftse['날짜'].apply(lambda x : x.replace('년 ','-'))\
                      .apply(lambda x : x.replace('월 ','-'))\
                      .apply(lambda x : x.replace('일',''))
ftse['날짜'] = date

# 칼럼명 변경하기
ftse.columns = ['date', 'FTSE', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
ftse = ftse.set_index('date')

# 값 양식 바꾸기
value = ftse['FTSE'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
ftse = pd.DataFrame(value)

# 종가만 빼오기
ftse = ftse['FTSE']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, ftse], axis=1)
Dataset = Dataset.dropna()

### BITCOIN_SV

In [27]:
# 데이터 불러오기
import pandas as pd
bitcoin_sv = pd.read_csv('../data/BITCOIN_SV.csv')

# 날짜 형식 변경하기
date = bitcoin_sv['날짜'].apply(lambda x : x.replace('년 ','-'))\
                        .apply(lambda x : x.replace('월 ','-'))\
                        .apply(lambda x : x.replace('일',''))
bitcoin_sv['날짜'] = date

# 칼럼명 변경하기
bitcoin_sv.columns = ['date', 'BITCOIN_SV', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
bitcoin_sv = bitcoin_sv.set_index('date')

# 종가만 빼오기
bitcoin_sv = bitcoin_sv['BITCOIN_SV']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, bitcoin_sv], axis=1)
Dataset = Dataset.dropna()

### ETHEREUM

In [28]:
# 데이터 불러오기
import pandas as pd
ethereum = pd.read_csv('../data/ETHEREUM.csv')

# 날짜 형식 변경하기
date = ethereum['날짜'].apply(lambda x : x.replace('년 ','-'))\
                      .apply(lambda x : x.replace('월 ','-'))\
                      .apply(lambda x : x.replace('일',''))
ethereum['날짜'] = date

# 칼럼명 변경하기
ethereum.columns = ['date', 'ETHEREUM', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
ethereum = ethereum.set_index('date')

# 값 양식 바꾸기
value = ethereum['ETHEREUM'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
ethereum = pd.DataFrame(value)

# 종가만 빼오기
ethereum = ethereum['ETHEREUM']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, ethereum], axis=1)
Dataset = Dataset.dropna()

### ETHEREUM_CLASSIC

In [29]:
# 데이터 불러오기
import pandas as pd
ethereum_classic = pd.read_csv('../data/ETHEREUM_CLASSIC.csv')

# 날짜 형식 변경하기
date = ethereum_classic['날짜'].apply(lambda x : x.replace('년 ','-'))\
                              .apply(lambda x : x.replace('월 ','-'))\
                              .apply(lambda x : x.replace('일',''))
ethereum_classic['날짜'] = date

# 칼럼명 변경하기
ethereum_classic.columns = ['date', 'ETHEREUM_CLASSIC', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
ethereum_classic = ethereum_classic.set_index('date')

# 종가만 빼오기
ethereum_classic = ethereum_classic['ETHEREUM_CLASSIC']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, ethereum_classic], axis=1)
Dataset = Dataset.dropna()

### EOS

In [30]:
# 데이터 불러오기
import pandas as pd
eos = pd.read_csv('../data/EOS.csv')

# 날짜 형식 변경하기
date = eos['날짜'].apply(lambda x : x.replace('년 ','-'))\
                      .apply(lambda x : x.replace('월 ','-'))\
                      .apply(lambda x : x.replace('일',''))
eos['날짜'] = date

# 칼럼명 변경하기
eos.columns = ['date', 'EOS', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
eos = eos.set_index('date')

# 종가만 빼오기
eos = eos['EOS']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, eos], axis=1)
Dataset = Dataset.dropna()

### RIPPLE

In [31]:
# 데이터 불러오기
import pandas as pd
ripple = pd.read_csv('../data/RIPPLE.csv')

# 날짜 형식 변경하기
date = ripple['날짜'].apply(lambda x : x.replace('년 ','-'))\
                      .apply(lambda x : x.replace('월 ','-'))\
                      .apply(lambda x : x.replace('일',''))
ripple['날짜'] = date

# 칼럼명 변경하기
ripple.columns = ['date', 'RIPPLE', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
ripple = ripple.set_index('date')

# 종가만 빼오기
ripple = ripple['RIPPLE']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, ripple], axis=1)
Dataset = Dataset.dropna()

### STELLAR

In [32]:
# 데이터 불러오기
import pandas as pd
stellar = pd.read_csv('../data/STELLA.csv')

# 날짜 형식 변경하기
date = stellar['날짜'].apply(lambda x : x.replace('년 ','-'))\
                      .apply(lambda x : x.replace('월 ','-'))\
                      .apply(lambda x : x.replace('일',''))
stellar['날짜'] = date

# 칼럼명 변경하기
stellar.columns = ['date', 'STELLA', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
stellar = stellar.set_index('date')

# 종가만 빼오기
stellar = stellar['STELLA']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, stellar], axis=1)
Dataset = Dataset.dropna()

### Final Dataset (52 Features)

**1. 환율(21)**
 - AED, &nbsp;&nbsp; AUD, &nbsp;&nbsp; BHD, &nbsp;&nbsp; CAD, &nbsp;&nbsp; CHF, &nbsp;&nbsp; CNH, &nbsp;&nbsp; DKK, &nbsp;&nbsp; EUR, &nbsp;&nbsp; GBP, &nbsp;&nbsp; HKD, &nbsp;&nbsp; IDR(100), &nbsp;&nbsp; JPY(100), &nbsp;&nbsp; KWD, &nbsp;&nbsp; MYR, &nbsp;&nbsp; NOK, &nbsp;&nbsp; NZD, &nbsp;&nbsp; SAR, &nbsp;&nbsp; SEK, &nbsp;&nbsp; SGD, &nbsp;&nbsp; THB, &nbsp;&nbsp; USD

**2. 금리(7)**
 - US_BOND_RATE_1YEARS, &nbsp;&nbsp; US_BOND_RATE_2YEARS, &nbsp;&nbsp; US_BOND_RATE_10YEARS, &nbsp;&nbsp; USLIBOR, &nbsp;&nbsp; KORLIBOR, &nbsp;&nbsp; IEF_US, &nbsp;&nbsp; GLD_US

**3. 종목(8)**
 - HYUNDAI_CAR, &nbsp;&nbsp; MICROSOFT, &nbsp;&nbsp; APPLE, &nbsp;&nbsp; SAMSUNG, &nbsp;&nbsp; SK HYNIX, &nbsp;&nbsp; AMAZON, &nbsp;&nbsp; TESLA, &nbsp;&nbsp; NAVER
       
**4. 지수(8)**
 - KOSPI200, &nbsp;&nbsp; KOSDAQ, &nbsp;&nbsp; S&P500, &nbsp;&nbsp; DOWJONES, &nbsp;&nbsp; NASDAQ,  &nbsp;&nbsp; HSI, &nbsp;&nbsp; FTSE,  &nbsp;&nbsp; NIKK255
 
**5. 기타 종목(8)**
 - BITCOIN,&nbsp;&nbsp; TETHER, &nbsp;&nbsp; BITCOIN_SV, &nbsp;&nbsp; ETHEREUM, &nbsp;&nbsp; ETHEREUM_CLASSIC, &nbsp;&nbsp; EOS, &nbsp;&nbsp; RIPPLE, &nbsp;&nbsp; STELLAR

In [33]:
Dataset

,AED,AUD,BHD,CAD,CHF,CNH,DKK,EUR,GBP,HKD,...,AMAZON,TESLA,NIKKEI,FTSE,BITCOIN_SV,ETHEREUM,ETHEREUM_CLASSIC,EOS,RIPPLE,STELLA
2018-11-19,307.28,825.98,2993.82,858.33,1129.15,162.86,172.68,1288.47,1448.63,144.15,...,1512.29,353.47,21821.16,7000.89,71.97,150.12,5.8602,4.1434,0.4829,0.22747
2018-11-20,306.93,822.33,2990.21,855.94,1135.18,162.58,173.04,1291.32,1449.78,143.95,...,1495.46,347.49,21583.12,6947.92,55.92,132.92,5.6302,3.8283,0.4433,0.19771
2018-11-21,306.96,813.21,2992.46,847.27,1133.22,162.54,171.82,1282.14,1442.81,143.98,...,1516.73,338.19,21507.54,7050.23,54.40,137.72,5.8196,3.8588,0.4535,0.20632
2018-11-26,307.77,818.09,2998.83,854.95,1133.50,163.05,171.75,1281.48,1449.30,144.45,...,1581.33,346.00,21812.00,7036.00,119.52,110.08,4.3683,3.2531,0.3637,0.14875
2018-11-27,307.61,815.67,2997.32,852.63,1131.60,162.81,171.58,1280.12,1447.29,144.43,...,1581.42,343.92,21952.40,7016.85,98.75,111.18,4.5750,3.0460,0.3648,0.14683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-20,317.03,801.58,3088.70,887.14,1190.39,166.42,173.38,1295.39,1515.25,149.41,...,1786.50,405.59,23816.63,7582.48,88.13,128.70,4.0532,2.4874,0.1951,0.04623
2019-12-23,316.53,801.96,3083.49,884.48,1183.37,166.14,172.40,1288.04,1512.19,149.08,...,1793.00,419.22,23821.11,7623.59,85.93,128.08,4.0080,2.5142,0.1897,0.04497
2019-12-24,316.53,801.96,3083.49,884.48,1183.37,165.80,172.40,1288.04,1512.19,149.08,...,1789.21,425.25,23830.58,7632.24,86.91,128.05,3.9366,2.5420,0.1908,0.04503
2019-12-27,316.13,806.28,3079.78,885.80,1183.57,166.09,172.60,1288.82,1509.44,149.11,...,1869.80,430.38,23837.72,7644.90,90.19,126.41,4.5107,2.5699,0.1900,0.04580
2019-12-30,316.05,810.31,3078.98,887.98,1192.07,165.87,173.77,1298.06,1519.04,149.07,...,1846.89,414.70,23656.62,7587.05,96.47,131.83,4.5948,2.6262,0.1933,0.04558

### USD Correlation

![dfdf](../figure/corr.png)

### Data Save

In [34]:
Dataset.to_csv('../data/Dataset.csv')